[submodule "/Users/korpz/.vim/bundle/yankring"]
	path = /Users/korpz/.vim/bundle/yankring
	url = git@github.com:vim-scripts/YankRing.vim.git
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = git@github.com:mattn/webapi-vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim-twig"]
	path = vim-twig
	url = git@github.com:evidens/vim-twig.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "bundle/text-obj-rubyblock"]
	path = bundle/text-obj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/seek"]
	path = bundle/seek
	url = git@github.com:goldfeld/vim-seek.git
[submodule "bundle/xmpfilter"]
	path = bundle/xmpfilter
	url = git@github.com:t9md/vim-ruby-xmpfilter.git
